RewriteEngine On

#MEMBRE

RewriteRule ^connexion/deconnexion/ index.php?controleur=membres&action=connexionMembre&deconnexion=true [L]
RewriteRule ^connexion/ index.php?controleur=membres&action=connexionMembre [L]
RewriteRule ^creation-compte/ index.php?controleur=membres&action=creationCompte [L]
RewriteRule ^nos-salles/reservation-en-details/(.*)$ index.php?controleurs=produit&action=reservationDetails&id_produit=$1

RewriteRule ^mon-compte/ index.php?controleur=membres&action=gestionCompte [L]
RewriteRule ^mot-de-passe-oublie/ index.php?controleur=membres&action=motDePasseOublie [L]

#ADMIN

RewriteRule ^admin/gestion-membres/suppression/(.*)$ index.php?controleur=membresAdmin&action=gestionMembres&supp=$1 [L]
RewriteRule ^admin/gestion-membres/ index.php?controleur=membresAdmin&action=gestionMembres [L]
RewriteRule ^admin/ajouter-administrateur/ index.php?controleur=membresAdmin&action=ajoutAdmin [L]

RewriteRule ^admin/gestion-stocks/modification/(.*)$ index.php?controleur=stocks&action=gestionStocks&update=$1 [L]
RewriteRule ^admin/gestion-stocks/suppression/(.*)$ index.php?controleur=stocks&action=gestionStocks&delete=$1 [L]
RewriteRule ^admin/gestion-stocks/ index.php?controleur=stocks&action=gestionStocks [L]
RewriteRule ^admin/ajouter-reference/ index.php?controleur=stocks&action=ajoutReference [QSA,L]

#VELO

RewriteRule ^votre-velo/ index.php?controleur=assemblage&action=veloPerso [L]

RewriteRule ^configuration/(.*)/(.*)/ index.php?controleur=assemblage&action=configurationVelo&type=$1&sexe=$2 [QSA,L]
RewriteRule ^configuration/(.*)/ index.php?controleur=assemblage&action=configurationVelo&type=$1 [L]
RewriteRule ^configuration/ index.php?controleur=assemblage&action=configurationVelo [L]

RewriteRule ^panier/ index.php?controleur=panier&action=affichagePanier [QSA,L]


ErrorDocument 401 /lepetitsaintbernard/www/page-introuvable/
ErrorDocument 403 /lepetitsaintbernard/www/page-introuvable/
ErrorDocument 404 /lepetitsaintbernard/www/page-introuvable/
