@fond: #eee;
@color1: #21353e;
@color2: #444;
@error: #e53e1e;
@confirm: #08c0a6;
@hover: #fff;
@liens: #21353e;
@autre: #21353e;

@color1opac: rgba(33,53,62,.95);

@boxshadow: 0 1px 2px rgba(0, 0, 0, .5);
@radius: 2px;
@w_desk: 960px;

@font-face {
  font-family: 'sb-b';
  src:url('Raleway-Black.ttf');
}
@font-face {
  font-family: 'sb-s';
  src: url('Raleway-Light.ttf');
}
* {
  box-sizing:border-box;
  -webkit-font-smoothing:subpixel-antialiased;
  font-family: 'sb-s', arial;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0;
  background: @fond;
}
h1,
h2 {
  color: @color1;
  font-family: 'sb-b', arial;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  font-size: 1.75em;
}
p {
  font-family: 'sb-s', arial;
  font-size: 1.25em;
  float:left;
  width: 100%;
  color: @color2;
}
header {
  padding: 5px;
  width: 100%;
  h1 {
    margin: 0;
  }
  .header_cont {
    float: left;
    width: 100%;
    img {
      width:100%;
    }
    .logo_title {
      width:100%;
      .callto {
        padding: 5% 0 0 2%;
        width: 15%;
        &#bouton_menu {
          float: left;
        }
      }
      img {
        width: 85%;
      }
    }
    nav {
      position: relative;
      float: left;
      width: 100%;
      ul {
        @keyframes bounce_menu{
          0%{
            transform: translateY(-15px);
            opacity: 0;
          }
          100%{
            transform: translateY(0);
            opacity: 1;
          }
        }
        z-index: 100;
        background: @color1opac;
        box-shadow: @boxshadow;
        border: 2px solid @autre;
        border-radius: @radius;
        padding: 0;
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
        &.menu_actif {
          animation: bounce_menu 250ms ease;
          display: block;
        }
        li {
          list-style: none;
          a {
            font-family: 'sb-s', arial;
            letter-spacing: 2px;
            color: @fond;
            float: left;
            padding: 10px;
            width: 100%;
            font-size: 1.5em;
            transition: color 250ms ease, background 250ms ease;
            &:hover,
            &.active {
              color: @hover;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

#prin {
  .prin_cont{
    padding: 50px 5px;
    float: left;
    width: 100%;
    .etape_accueil {
      width: 100%;
    }
    .infos {
      font-family: 'sb-s', arial;
      float: left;
      width: 100%;
      padding: 2%;
      font-size: 1.75em;
      text-align: center;
      min-height: 225px;
      .hidden {
        display: none;
      }
      .appear {
        display: block;
      }
      span {
        font-weight: 800;
      }
    }
  }
}

.spe {
  width: 100%;
  float: left;
  .round {
    transition: transform 250ms ease, color 250ms ease;
    float: left;
    margin: 2%;
    text-align: center;
    font-size: 1.75em;
    letter-spacing: 1px;
    width: 29%;
    &.active {
      transform: scale(1);
    }
    &::after {
      transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
      border: 2px solid @color1;
      content: "";
      border-radius: 50%;
      display: block;
      height: 0;
      padding-bottom: 100%;
      width: 100%;
      box-shadow: @boxshadow;
    }
    span {
      font-family: 'sb-s', arial;
      color: @color1;
      float: left;
      line-height: 1em;
      margin-top: -0.4em;
      padding-top: 50%;
      text-align: center;
      width: 102%;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      span {
        color: @hover;
      }
      &::after{
        background: @color1;
      }
    }
    &:active,
    &.active {
      transform: scale(1);
      span {
        color: @hover;
      }
      &::after{
        border-color: @hover;
        background: @color1;
      }
    }
  }
}
/* Bouton call to action */
.callto {
  width: 100%;
  display: inline-block;
  .button {
    display: block;
    font-size: 1.5em;
    background: @fond;
    transition: color 250ms ease, background 250ms ease, border-color 250ms ease;
    color: @color1;
    padding: 10px;
    border-radius: @radius;
    border: 2px solid @color1;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: @boxshadow;
    margin: 1%;
    &:hover,
    &.actif {
      color: @hover;
      background: @color1;
      cursor: pointer;
    }
    &:active {
      border-color: @hover;
    }
    &.w10f {
      width: 10px;
    }
    &.w50 {
      width: 48%;
    }
    &.w100 {
      width: 98%;
    }
  }
}

/* Footer */
footer {
  float: left;
  width: 100%;
  background: @color1;
  ul {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    display: inline;
    li {
      width: 100%;
      list-style: none;
      text-align: center;
      a {
        float: left;
        width: 100%;
        color: @fond;
        letter-spacing: 2px;
        font-size: 1em;
        padding: 10px;
        &:hover,
        &.active {
          color: @hover;
          text-decoration: underline;
        }
      }
    }
  }
}

form {
  display: inline-block;
  width: 100%;
  .form-group {
    font-size: 1.5em;
    width: 98%;
    margin: 0 1%;
    &:hover {
      input,
      textarea {
        background: @hover;
      }
      em {
        opacity: 1;
      }
    }
    label {
      color: @color1;
      width: 100%;
      padding: 10px;
      float: left;
    }
    em {
      color: #888;
      padding: 10px;
      margin: 0;
      font-size: .75em;
      transition: opacity 250ms ease;
      opacity: 0;
    }
    input,
    textarea {
      transition: background-color 250ms ease, box-shadow 250ms ease, border-color 250ms ease;
      margin: 0;
      font-size: 1em;
      width: 100%;
      border: 2px solid @color1;
      border-radius: @radius;
      padding: 10px;
      background: @fond;
      &:focus {
        outline:none;
        box-shadow: @boxshadow;
        background: @hover;
      }
      &[type="submit"] {
        background: @fond;
        color: @color1;
        box-shadow: @boxshadow;
        cursor: pointer;
        margin: 50px 0;
        letter-spacing: 2px;
        &:hover {
          background: @color1;
          color: @hover;
        }
        &:active {
          border-color: @hover;
        }
      }
    }
    &.error-form {
      input,
      textarea {
        border-color: @error;
      }
    }
    &.checkbox {
      input,
      label {
        float: left;
      }
      input {
        width: 4%;
        margin: 4%;
      }
      label {
        width: 87%;
      }
    }
    select {
      width: 100%;
      border: 2px solid @color1;
      height: 53px;
      font-size: 1em;
    }
    &.radio {
      input[type="radio"] {
        float: left;
        width: 4%;
        margin: 4%;
      }
      label[for="homme"],
      label[for="femme"] {
        width: 87%;
        padding: 12px;
      }
    }
  }
  .img-form {
    width: 100%;
    border-radius: @radius;
    box-shadow: @boxshadow;
  }
  .hidden {
    display: none;
  }
}

.error {
  @keyframes msgbounce{
    0% {
      opacity: 0;
      transform: scale(.95);
    }
    85% {
      opacity: 1;
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  animation: msgbounce 500ms ease;
  display: inline-block;
  width: 98%;
  margin: 1%;
  border: 2px solid @error;
  color: @error;
  box-shadow: @boxshadow;
  border-radius: @radius;
  background: @hover;
  padding: 10px;
  font-size: 1.25em;
  label:hover {
    cursor: pointer;
  }
  &.confirm {
    color: @confirm;
    border-color: @confirm;
  }
}

.bloc {
  text-align: center;
}

.tableau {
  text-align: center;
  display: inline-block;
  width: 98%;
  margin: 1%;
  .w5 {
    width: 5%;
  }
  .w10 {
    width: 10%;
  }
  .w15 {
    width: 15%;
  }
  .w20 {
    width: 20%;
  }
  .w25 {
    width: 25%;
  }
  .w50 {
    width: 50%;
  }
  .head {
    color: @fond;
    float: left;
    width: 100%;
    border: 2px solid @color1;
    background: @color1;
    border-radius: @radius;
    padding: 10px 0;
    margin: 10px 0;
    .cel {
      float: left;
    }
  }
  .body {
    margin: 0;
    padding: 0;
    li {
      color: #444;
      float: left;
      width: 100%;
      list-style: none;
      border: 2px solid @color1;
      border-radius: @radius;
      background: @fond;
      padding: 0;
      margin: 10px 0;
      transition: background-color 250ms ease, box-shadow 250ms ease, color 250ms ease;
      &:hover {
        color: #000;
        background: @hover;
        box-shadow: @boxshadow;
      }
      &:active,
      &.select {
        border-color: @fond;
        background: @hover;
        box-shadow: @boxshadow;
      }
      span {
        padding: 10px 0;
        float: left;
        display: block;
        &.input {
          padding: 0;
          input[type="number"] {
            margin: 0;
            font-size: 1em;
            width: 50%;
            background: transparent;
            height: 39px;
            padding:10px;
            border: none;
            &:focus {
              outline: none;
              background: @hover;
            }
          }
          input[type="submit"] {
            border: none;
            background: transparent;
            font-size: 1em;
            cursor: pointer;
          }
        }
      }
      a {
        color: #444;
      }
    }
  }
}
.blocpiece {
  transition: box-shadow 250ms ease;
  background: #fff;
  border: 2px solid @color1;
  border-radius: @radius;
  width: 98%;
  margin: 25px 1%;
  .img_piece {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
      &.heightmax {
        height: 100%;
        width: auto;
        float: right;
      }
    }
    .type_piece {
      margin: 0;
      padding: 5px;
      position: absolute;
      z-index: 200;
      color: #000;
      text-shadow: 0 0 8px rgba(0, 0, 0, .75);
      font-size: 1.5em;
    }
  }
  .details_piece {
    display: inline-block;
    padding: 5px;
    p {
      margin: 0;
      &.titre {
        font-weight: 800;
      }
    }
  }
  &:hover{
    box-shadow: @boxshadow;
  }
  &.selection {
    cursor: pointer;
    transition: border 250ms ease;
    &:active,
    &.select {
      box-shadow: @boxshadow;
      border-color: @fond;
    }
  }
}

/********** Responsive **********/
@media screen and (min-width: 600px) {
  #bouton_menu {
    display: none;
  }
  h1,
  h2 {
    font-size: 2em;
    display: inline-block;
  }
  header {
    padding: 0;
    width: 100%;
    .header_cont {
      .logo_title {
        width: @w_desk;
        margin: 50px auto;
        img {
          display: block;
          width: 700px;
          margin: auto;
        }
      }
      h1 {
        width: 100%;
        text-align: center;
      }
      nav {
        height: 50px;
        position: fixed;
        z-index: 1000;
        background: @color1opac;
        box-shadow: @boxshadow;
        width: 100%;
        float: none;
        &.menu_admin {
          height: 100px;
        }
        ul {
          background: @fond;
          box-shadow: none;
          border: none;
          padding: 0;
          margin: auto;
          display: block;
          position: relative;
          width: @w_desk;
          top: 0;
          &.menu_actif {
            animation: bounce_menu 250ms ease;
            display: block;
          }
          li {
            list-style: none;
            a {
              text-align: center;
              width: 16%;
              margin: 0;
              padding: 0;
              font-size: 1em;
              line-height: 50px;
              &.sous_li {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
  #prin {
    width: @w_desk;
    margin: auto;
    .prin_cont {
      width: 100%;
      float: left;
    }
  }
  /* Bouton call to action */
  .callto {
    .button {
      float: none;
      &.w10f {
        width: 10px;
      }
      &.d25 {
        width: 20%;
        margin:0 40%;
      }
      &.d50 {
        width: 50%;
        margin: 30px 25%;
      }
      &.d100 {
        width: 100%;
        margin: 0;
      }
    }
  }
  .spe {
    width: 100%;
    float: left;
    .round {
      transition: transform 250ms ease, color 250ms ease;
      float: left;
      margin: 1%;
      text-align: center;
      font-size: 1.7em;
      letter-spacing: 1px;
      width:14.5%;
    }
  }

  form {
    &.middle {
      width: 50%;
      margin: 0 25%;
    }
    &.large {
      .form-group {
        width: 48%;
        margin: 0 1%;
        float: left;
        &.submit {
          width: 50%;
          margin: 0 25%;
        }
      }
    }
    .form-group {
      &.w100 {
        width: 98%;
        margin: 0 1%;
        textarea {
          max-width: 100%;
          min-height: 250px;
        }
      }
      &.radio {
        input[type="radio"] {
          float: left;
          width: 6%;
          margin: 4% 2%;
        }
        label[for="homme"],
        label[for="femme"] {
          width: 37%;
          padding: 12px;
        }
      }
    }
    .img-form {
      width: 50%;
      margin: 0 25%;
    }
  }

  .bloc {
    float: left;
    &.w50{
      width: 48%;
      margin: 30px 1%;
    }
  }

  /* Footer */
  footer {
    ul {
      display: block;
      width: @w_desk;
      margin: auto;
      padding: 0;
      li {
        width: auto;
        a {
          float: left;
          width: 25%;
          font-size: 1em;
        }
      }
    }
  }

  /* Piece de 'votre-velo'*/
  .blocpiece {
    border: 2px solid @color1;
    border-radius: @radius;
    width: 31.3%;
    margin: 25px 1%;
    height: 375px;
    float: left;
    .img_piece {
      height: 175px;
    }
    .details_piece {
      .description {
        height: 90px;
      }
    }
  }
}
