@fond: #ECF3D3;
@texte: #181A0C;
@liens: #171809;
@fond2: #545937;
@autre: #34381C;

@boxshadow: 0 1px 2px rgba(0, 0, 0, .5);
@radius: 2px;

* {
  box-sizing:border-box;
  -webkit-font-smoothing:subpixel-antialiased;
  font-family:helvetica, arial;
}
a {
  text-decoration: none;
  color: @liens;
}
body {
  width: 100%;
  margin: 0;
  background: @fond;
}
header {
  padding:5px;
  width: 100%;
  float: left;
  p {
    font-size: 12px;
    color: @texte;
  }
  nav {
    position: relative;
    ul {
      @keyframes bounce_menu{
        0%{
          transform: translateY(-15px);
          opacity: 0;
        }
        100%{
          transform: translateY(0);
          opacity: 1;
        }
      }
      z-index: 100;
      background: @fond;
      box-shadow: @boxshadow;
      border: 2px solid @autre;
      border-radius: @radius;
      padding: 5px;
      display: none;
      position: absolute;
      width: 100%;
      top: 45px;
      &.menu_actif {
        animation: bounce_menu 250ms ease;
        display: block;
      }
      li {
        list-style: none;
        a {
          float: left;
          padding:4px 2px;
          width: 100%;
          font-size: 1.5em;
        }
      }
    }
  }
}
#cont {
  padding:5px;
  h2 {
    font-size: 1.75em;
    color: @texte;
  }
  p {
    font-size: 1.25em;
  }
  .spe {
    width: 100%;
    float: left;
    .round {
      transition: transform 250ms ease, color 250ms ease;
      float: left;
      margin: 2%;
      text-align: center;
      font-size: 1.7em;
      letter-spacing: 1px;
      width: 29%;
      &.active {
        transform: scale(1);
      }
      &::after {
        transition: background-color 250ms ease;
        border: 2px solid @autre;
        content: "";
        border-radius: 50%;
        display: block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        box-shadow: @boxshadow;
      }
      span {
        float: left;
        line-height: 1em;
        margin-top: -0.4em;
        padding-top: 50%;
        text-align: center;
        width: 102%
      }
      &.active {
        span {
          color: @fond;
        }
        &::after{
          background: @fond2;
        }
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        &::after{
          background: @fond2;
        }
        span {
          color: @fond;
        }
      }
    }
  }
  .infos {
    float: left;
    width: 100%;
    padding: 2%;
    font-size: 1.75em;
    text-align: center;
    min-height:225px;
    .hidden {
      display: none;
    }
    .appear {
      display: block;
    }
    span {
      font-weight: 800;
    }
  }
}

/* Bouton call to action */
.callto {
  float: left;
  width: 100%;
  .button {
    transition: color 250ms ease, background 250ms ease;
    color: @liens;
    font-size: 1.25em;
    padding: 10px;
    border-radius: @radius;
    border: 2px solid @liens;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    float: left;
    box-shadow: @boxshadow;
    margin: 1%;
    &:hover,
    &.actif {
      color:@fond;
      background: @fond2;
    }
    &.w10f {
      width: 10px;
    }
    &.w50 {
      width: 48%;
    }
    &.w100 {
      width: 98%;
    }
  }
}
