@font-face {
  font-family: 'sb-b';
  src: url('Raleway-Black.ttf');
}
@font-face {
  font-family: 'sb-s';
  src: url('Raleway-Light.ttf');
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'sb-s', arial;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0;
  background: #eeeeee;
}
h1,
h2 {
  color: #21353e;
  font-family: 'sb-b', arial;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  font-size: 1.75em;
}
p {
  font-family: 'sb-s', arial;
  font-size: 1.25em;
  float: left;
  width: 100%;
  color: #444444;
}
header {
  padding: 5px;
  width: 100%;
}
header h1 {
  margin: 0;
}
header .header_cont {
  float: left;
  width: 100%;
}
header .header_cont img {
  width: 100%;
}
header .header_cont .logo_title {
  width: 100%;
}
header .header_cont .logo_title .callto {
  padding: 5% 0 0 2%;
  width: 15%;
}
header .header_cont .logo_title .callto#bouton_menu {
  float: left;
}
header .header_cont .logo_title img {
  width: 85%;
}
header .header_cont nav {
  position: relative;
  float: left;
  width: 100%;
}
header .header_cont nav ul {
  z-index: 100;
  background: rgba(33, 53, 62, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid #21353e;
  border-radius: 2px;
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  top: 80px;
}
@keyframes bounce_menu {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header .header_cont nav ul.menu_actif {
  animation: bounce_menu 250ms ease;
  display: block;
}
header .header_cont nav ul li {
  list-style: none;
}
header .header_cont nav ul li a {
  font-family: 'sb-s', arial;
  letter-spacing: 2px;
  color: #eeeeee;
  float: left;
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  transition: color 250ms ease, background 250ms ease;
}
header .header_cont nav ul li a:hover,
header .header_cont nav ul li a.active {
  color: #ffffff;
  text-decoration: underline;
}
#prin .prin_cont {
  padding: 50px 5px;
  float: left;
  width: 100%;
}
#prin .prin_cont .etape_accueil {
  width: 100%;
}
#prin .prin_cont .infos {
  font-family: 'sb-s', arial;
  float: left;
  width: 100%;
  padding: 2%;
  font-size: 1.75em;
  text-align: center;
  min-height: 225px;
}
#prin .prin_cont .infos .hidden {
  display: none;
}
#prin .prin_cont .infos .appear {
  display: block;
}
#prin .prin_cont .infos span {
  font-weight: 800;
}
.spe {
  width: 100%;
  float: left;
}
.spe .round {
  transition: transform 250ms ease, color 250ms ease;
  float: left;
  margin: 2%;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 1px;
  width: 29%;
}
.spe .round.active {
  transform: scale(1);
}
.spe .round::after {
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
  border: 2px solid #21353e;
  content: "";
  border-radius: 50%;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.spe .round span {
  font-family: 'sb-s', arial;
  color: #21353e;
  float: left;
  line-height: 1em;
  margin-top: -0.4em;
  padding-top: 50%;
  text-align: center;
  width: 102%;
}
.spe .round:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.spe .round:hover span {
  color: #ffffff;
}
.spe .round:hover::after {
  background: #21353e;
}
.spe .round:active,
.spe .round.active {
  transform: scale(1);
}
.spe .round:active span,
.spe .round.active span {
  color: #ffffff;
}
.spe .round:active::after,
.spe .round.active::after {
  border-color: #ffffff;
  background: #21353e;
}
/* Bouton call to action */
.callto {
  width: 100%;
  display: inline-block;
}
.callto .button {
  display: block;
  font-size: 1.5em;
  background: #eeeeee;
  transition: color 250ms ease, background 250ms ease, border-color 250ms ease;
  color: #21353e;
  padding: 10px;
  border-radius: 2px;
  border: 2px solid #21353e;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 1%;
}
.callto .button:hover,
.callto .button.actif {
  color: #ffffff;
  background: #21353e;
  cursor: pointer;
}
.callto .button:active {
  border-color: #ffffff;
}
.callto .button.w10f {
  width: 10px;
}
.callto .button.w50 {
  width: 48%;
}
.callto .button.w100 {
  width: 98%;
}
/* Footer */
footer {
  float: left;
  width: 100%;
  background: #21353e;
}
footer ul {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  display: inline;
}
footer ul li {
  width: 100%;
  list-style: none;
  text-align: center;
}
footer ul li a {
  float: left;
  width: 100%;
  color: #eeeeee;
  letter-spacing: 2px;
  font-size: 1em;
  padding: 10px;
}
footer ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
form {
  display: inline-block;
  width: 100%;
}
form .form-group {
  font-size: 1.5em;
  width: 98%;
  margin: 0 1%;
}
form .form-group:hover input,
form .form-group:hover textarea {
  background: #ffffff;
}
form .form-group:hover em {
  opacity: 1;
}
form .form-group label {
  color: #21353e;
  width: 100%;
  padding: 10px;
  float: left;
}
form .form-group em {
  color: #888;
  padding: 10px;
  margin: 0;
  font-size: .75em;
  transition: opacity 250ms ease;
  opacity: 0;
}
form .form-group input,
form .form-group textarea {
  transition: background-color 250ms ease, box-shadow 250ms ease, border-color 250ms ease;
  margin: 0;
  font-size: 1em;
  width: 100%;
  border: 2px solid #21353e;
  border-radius: 2px;
  padding: 10px;
  background: #eeeeee;
}
form .form-group input:focus,
form .form-group textarea:focus {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}
form .form-group input[type="submit"],
form .form-group textarea[type="submit"] {
  background: #eeeeee;
  color: #21353e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 50px 0;
  letter-spacing: 2px;
}
form .form-group input[type="submit"]:hover,
form .form-group textarea[type="submit"]:hover {
  background: #21353e;
  color: #ffffff;
}
form .form-group input[type="submit"]:active,
form .form-group textarea[type="submit"]:active {
  border-color: #ffffff;
}
form .form-group.error-form input,
form .form-group.error-form textarea {
  border-color: #e53e1e;
}
form .form-group.checkbox input,
form .form-group.checkbox label {
  float: left;
}
form .form-group.checkbox input {
  width: 4%;
  margin: 4%;
}
form .form-group.checkbox label {
  width: 87%;
}
form .form-group select {
  width: 100%;
  border: 2px solid #21353e;
  height: 53px;
  font-size: 1em;
}
form .form-group.radio input[type="radio"] {
  float: left;
  width: 4%;
  margin: 4%;
}
form .form-group.radio label[for="homme"],
form .form-group.radio label[for="femme"] {
  width: 87%;
  padding: 12px;
}
form .img-form {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
form .hidden {
  display: none;
}
.error {
  animation: msgbounce 500ms ease;
  display: inline-block;
  width: 98%;
  margin: 1%;
  border: 2px solid #e53e1e;
  color: #e53e1e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: #ffffff;
  padding: 10px;
  font-size: 1.25em;
}
@keyframes msgbounce {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  85% {
    opacity: 1;
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.error label:hover {
  cursor: pointer;
}
.error.confirm {
  color: #08c0a6;
  border-color: #08c0a6;
}
.bloc {
  text-align: center;
}
.tableau {
  text-align: center;
  display: inline-block;
  width: 98%;
  margin: 1%;
}
.tableau .w5 {
  width: 5%;
}
.tableau .w10 {
  width: 10%;
}
.tableau .w15 {
  width: 15%;
}
.tableau .w20 {
  width: 20%;
}
.tableau .w25 {
  width: 25%;
}
.tableau .w50 {
  width: 50%;
}
.tableau .head {
  color: #eeeeee;
  float: left;
  width: 100%;
  border: 2px solid #21353e;
  background: #21353e;
  border-radius: 2px;
  padding: 10px 0;
  margin: 10px 0;
}
.tableau .head .cel {
  float: left;
}
.tableau .body {
  margin: 0;
  padding: 0;
}
.tableau .body li {
  color: #444;
  float: left;
  width: 100%;
  list-style: none;
  border: 2px solid #21353e;
  border-radius: 2px;
  background: #eeeeee;
  padding: 0;
  margin: 10px 0;
  transition: background-color 250ms ease, box-shadow 250ms ease, color 250ms ease;
}
.tableau .body li:hover {
  color: #000;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.tableau .body li.select {
  border-color: #eeeeee;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.tableau .body li span {
  padding: 10px 0;
  float: left;
  display: block;
}
.tableau .body li span.input {
  padding: 0;
}
.tableau .body li span.input input[type="number"] {
  margin: 0;
  font-size: 1em;
  width: 50%;
  background: transparent;
  height: 39px;
  padding: 10px;
  border: none;
}
.tableau .body li span.input input[type="number"]:focus {
  outline: none;
  background: #ffffff;
}
.tableau .body li span.input input[type="submit"] {
  border: none;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}
.blocpiece {
  transition: box-shadow 250ms ease;
  background: #fff;
  border: 2px solid #21353e;
  border-radius: 2px;
  width: 98%;
  margin: 25px 1%;
}
.blocpiece .img_piece {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.blocpiece .img_piece img {
  width: 100%;
}
.blocpiece .img_piece img.heightmax {
  height: 100%;
  width: auto;
  float: right;
}
.blocpiece .img_piece .type_piece {
  margin: 0;
  padding: 5px;
  position: absolute;
  z-index: 200;
  color: #000;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  font-size: 1.5em;
}
.blocpiece .details_piece {
  display: inline-block;
  padding: 5px;
}
.blocpiece .details_piece p {
  margin: 0;
}
.blocpiece .details_piece p.titre {
  font-weight: 800;
}
.blocpiece:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.blocpiece.selection {
  cursor: pointer;
  transition: border 250ms ease;
}
.blocpiece.selection:active,
.blocpiece.selection.select {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-color: #eeeeee;
}
/********** Responsive **********/
@media screen and (min-width: 600px) {
  #bouton_menu {
    display: none;
  }
  h1,
  h2 {
    font-size: 2em;
    display: inline-block;
  }
  header {
    padding: 0;
    width: 100%;
  }
  header .header_cont .logo_title {
    width: 960px;
    margin: 50px auto;
  }
  header .header_cont .logo_title img {
    display: block;
    width: 700px;
    margin: auto;
  }
  header .header_cont h1 {
    width: 100%;
    text-align: center;
  }
  header .header_cont nav {
    height: 50px;
    position: fixed;
    z-index: 1000;
    background: rgba(33, 53, 62, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    float: none;
  }
  header .header_cont nav.menu_admin {
    height: 100px;
  }
  header .header_cont nav ul {
    background: #eeeeee;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: auto;
    display: block;
    position: relative;
    width: 960px;
    top: 0;
  }
  header .header_cont nav ul.menu_actif {
    animation: bounce_menu 250ms ease;
    display: block;
  }
  header .header_cont nav ul li {
    list-style: none;
  }
  header .header_cont nav ul li a {
    text-align: center;
    width: 20%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 50px;
  }
  header .header_cont nav ul li a.sous_li {
    width: 25%;
  }
  #prin {
    width: 960px;
    margin: auto;
  }
  #prin .prin_cont {
    width: 100%;
    float: left;
  }
  /* Bouton call to action */
  .callto .button {
    float: none;
  }
  .callto .button.w10f {
    width: 10px;
  }
  .callto .button.d25 {
    width: 20%;
    margin: 0 40%;
  }
  .callto .button.d50 {
    width: 50%;
    margin: 30px 25%;
  }
  .callto .button.d100 {
    width: 100%;
    margin: 0;
  }
  .spe {
    width: 100%;
    float: left;
  }
  .spe .round {
    transition: transform 250ms ease, color 250ms ease;
    float: left;
    margin: 1%;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 1px;
    width: 14.5%;
  }
  form.middle {
    width: 50%;
    margin: 0 25%;
  }
  form.large .form-group {
    width: 48%;
    margin: 0 1%;
    float: left;
  }
  form.large .form-group.submit {
    width: 50%;
    margin: 0 25%;
  }
  form .form-group.w100 {
    width: 98%;
    margin: 0 1%;
  }
  form .form-group.radio input[type="radio"] {
    float: left;
    width: 6%;
    margin: 4% 2%;
  }
  form .form-group.radio label[for="homme"],
  form .form-group.radio label[for="femme"] {
    width: 37%;
    padding: 12px;
  }
  form .img-form {
    width: 50%;
    margin: 0 25%;
  }
  .bloc {
    float: left;
  }
  .bloc.w50 {
    width: 48%;
    margin: 30px 1%;
  }
  /* Footer */
  footer ul {
    display: block;
    width: 960px;
    margin: auto;
    padding: 0;
  }
  footer ul li {
    width: auto;
  }
  footer ul li a {
    float: left;
    width: 25%;
    font-size: 1em;
  }
  /* Piece de 'votre-velo'*/
  .blocpiece {
    border: 2px solid #21353e;
    border-radius: 2px;
    width: 31.3%;
    margin: 25px 1%;
    height: 375px;
    float: left;
  }
  .blocpiece .img_piece {
    height: 175px;
  }
  .blocpiece .details_piece .description {
    height: 90px;
  }
}
